body{
    font-size:10px;
    background-image:linear-gradient(60deg,#ffafbd ,#ffc3a0 80%);
    
}


.ToDo {
/*
    border:5px solid transparent;
    border-image: linear-gradient(60deg , #cc2b5e , #753a88);
    border-image-slice:1;
*/
    width:40em;
    height:60em;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}


p{
    font-size:2em;
    width:90%;
    margin-left:1em;
    text-align: justify;
    font-weight:300;
    animation: fade linear 2s 1;
    
}

h1{
    font-size:3.3em;
    text-align: center;
    border:5px solid tranparent;
    font-family: 'Rowdies', cursive;
    border-image: linear-gradient(60deg , #cc2b5e , #753a88);
    border-image-slice:1;
    animation: borderAnimate 1s linear 1;
    animation-fill-mode: forwards;
}

p{  
    color: rgb(0, 0, 0);
    font-family: "Lucida Console";
}
h2{
    font-size:2.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Antic Slab', serif;
    letter-spacing:1px;
}

input{
    width:14em;
    height:2em;
    margin-left:3em;
    margin-top:0.5em;
    border:2px solid #aaa;
    font-size:2em;
   
}

input[type="text"]::placeholder{
    font-size:1em;
}

input[type="time"]{
    width:14.2em;
}

#Add_task{
    width:14em;
    margin-left:3.25em;
    margin-top:1em;
    height:2.25em;
    font-size:2em;
    color:#fff;
    font-weight:bold;
    border:2px outset rgba(0,0,255,0.8);
    background:linear-gradient(60deg , #cc2b5e , #753a88);
}

ul{
    list-style-type: none;
    font-size:2em;

    
}

li{
    background-color:#fadcac;
    width:15em;
    height:1.5em;
    padding: 0.5em 0.5em 0.5em 1em;
    margin-bottom:0.5em;
    border-radius:5px;
    text-transform: capitalize;
}

li>button{
    float:right;
    height:2em;
    border: 1px solid #000;

}

li>span{
    float:right;
    margin-right:0.5em;
}

@keyframes borderAnimate{
    0%{
       border-left:5px solid red;
    }
    
     33%{
       border-top:5px solid red;
    }
    
     66%{
       border-right:5px solid red;
    }
    
    100%{
        border-bottom:5px solid red;
        
    }
}

@keyframes fade{
    0%{
        opacity:-1;
    }
    
    
    100%{
         opacity:1;
        
    }
}


@media (max-width:339px){
   
    
   .ToDo {
    left:50%;
    width:35em;
    
}
    
    h1{
        width:75%;
        margin-left:1.25em;
    } 
    
    p{
    font-size:2em;
    width:78%;
    margin-left:1.5em;
    text-align: justify;
    font-weight:300;
    
}
    
    input{
    
    margin-left:1.5em;
    
}
    #Add_task{
    width:14em;
    margin-left:1.75em;
    margin-top:0.75em;
   
}
    
    li{
     margin-left:-0.5em;
     width:13em;
}


}

@media (min-width:340px) and (max-width:375px){
   
    
   .ToDo {
    left:50%;
    width:35em;
    
}
    
    h1{
        width:75%;
        margin-left:1.25em;
    } 
    
    p{
    font-size:2em;
    width:78%;
    margin-left:1.5em;
    text-align: justify;
    font-weight:300;
    
}
    
    input{
    
    margin-left:1.5em;
    
}
    #Add_task{
    width:14em;
    margin-left:1.75em;
    margin-top:0.75em;
   
}
    
    li{
     margin-left:-0.5em;
     width:13em;
}


}


@media (min-width:376px) and (max-width:424px){
   
    
   .ToDo {
    top:60%;
    left:50%;
    width:35em;
    
}
    
    h1{
        width:75%;
        margin-left:1.25em;
    } 
    
    p{
    font-size:2em;
    width:78%;
    margin-left:1.5em;
    text-align: justify;
    font-weight:300;
    
}
    
    input{
    
    margin-left:1.5em;
    
}
    #Add_task{
    width:14em;
    margin-left:1.75em;
    margin-top:0.75em;
   
}
    
    li{
     margin-left:-0.5em;
     width:13em;
}



}